@import compass
@import compass/reset

// Variables
$font-upper: 'Crimson text'

body
  background: #BFD8BB url(asset_path("bg-repeat.png", image)) repeat left top
  font-family: $font-upper
  font-size: 14px
  line-height: 20px
  letter-spacing: 0.6px
  color: #5f505a

div
  margin-bottom: 20px

h1
  font-size: 24px

a
  color: #443b37
  text-decoration: none
  &:hover
    color: lighten(#443b37, 40%)
    

section
  +box-shadow(rgba(0, 0, 0, 0.4), 0px, 0px, 15px)
  background: #fff url(asset_path("bg-section.png", image)) repeat left top
  // Starting width
  // Minimum Width and Height
  margin: 150px auto 200px auto
  width: 800px

// Forms/Labels
input[type="text"],
input[type="password"]
  +border-radius(4px)
  +box-shadow(rgba(0, 0, 0, 0.2), 0px, 0px, 3px)
  font-size: 20px
  color: #4d3e36
  padding: 0px 5px
  border: 1px solid #cfc0b8
  background-color: #f7f3f1
  width: 300px
  height: 45px
  text-align: center
input[type="submit"]
  +border-radius(4px)
  border: 1px solid #443b37
  background-color: #c6b2a8
  width: 100px
  height: 30px
  color: #443b37
  font-family: $font-upper
  text-transform: uppercase
label
  margin-top: 30px
  font-family: $font-upper
  text-transform: uppercase
  display: block
  color: #9d938e
.action
  margin-top: 30px

// Page specific styles
#logo_large
  display: block
  margin: 30px auto 0 auto

#sign-in
  margin: 0px auto
  padding-top: 50px
  text-align: right
  text-align: right
  width: 350px
  text-align: center
  position: relative
  label[for="user_remember_me"],
  #user_remember_me
    display: none
  .help-link
    position: absolute
    left: 0
    bottom: -140px
    text-align: center
    width: 100%
    a
      text-decoration: underline

#main
  padding: 40px 40px 20px
  em, h2, h3, p
    display: block
    margin-bottom: 10px
  em, h2, h3
    font-size: 16px
  h2
    margin-top: 40px
    text-align: center
  dl
    dt
      margin-bottom: 5px
    dd
      margin-bottom: 25px
      color: lighten(#5F505A, 20%)
  em
    text-align: center
  .centered-link
    text-align: center


  .action
    position: absolute
    top: 30px
    right: 50px
  .rsvp
    +pie-clearfix
    .name
      margin-top: 20px
      text-transform: uppercase
      font-size: 20px
      text-align: center
      border-top: 1px dashed #c6b2a8
      border-bottom: 1px dashed #c6b2a8
      margin: 0
      padding: 10px 0
    form
      background: rgba(255, 255, 255, 0.3)
      border-bottom: 1px dashed #c6b2a8
      +float(left)
      +pie-clearfix
      position: relative
      width: 337px
      padding-bottom: 10px
      &:nth-child(2n - 1)
        margin-right: 40px
      .sub-group
        +float(left)
        text-align: center
        width: 200px
        margin-bottom: 10px
        margin-top: 10px
        label
          margin-top: 0
  .menu
    text-transform: uppercase
    border-top: 1px dashed #c6b2a8
    text-align: center
    padding: 15px
    margin-bottom: 0
    color: #9ebdae
    font-size: 16px
    &:hover
      color: #C4AFA4
      cursor: pointer
  .content
    // Uncomment me when u want to go live
    display: none
    // border-top: 1px dashed #c6b2a8
    padding: 20px 0
    margin-bottom: 20px
  .menu.modaltrigger
    border-top: 2px solid #c6b2a8
  #contact-us
    border-bottom: 2px solid #c6b2a8
  .about-us
    em
      font-size: 15px
  .bridal-party
    em
      font-size: 15px
  .ceremony-venue, .reception-venue
    img
      display: block
      margin: 20px auto
  .modal
    // fadein/out
    display: none
    position: absolute
    top: 0
    left: 0
    width: 100%
    background: rgba(255, 255, 255, 0.4)
    z-index: 100
    .inner
      // text-transform: uppercase
      text-align: center
      font-weight: 200
      font-family: Lustria, serif
      &.one
        p
          position: absolute
          top: 604px
          text-align: center
          width: 100%
          font-size: 26px
          color: #5f505a
      &.both
        p
          position: absolute
          top: 464px
          text-align: center
          width: 100%
          font-size: 26px
          color: #5f505a

.ceremony-venue, .reception-venue
  dt
    text-align: center

.questions.part
  em
    margin-top: 30px
    margin-bottom: 0 !important
  p
    color: lighten(#443b37, 40%)
    margin-bottom: 0 !important

.bridesmaids, .groomsmen
  em
    text-align: left !important
  h3
    text-align: center
#quick-contact
  padding-left: 40px
  .twitter-link
    background: transparent url(asset_path("twitter_logo.png", image)) no-repeat left 3px
    width: 23px
    height: 22px
    float: left
    margin-bottom: 10px
    margin-left: 10px
  .facebook-link
    background: transparent url(asset_path("facebook_logo.png", image)) no-repeat left top
    float: left
    width: 10px
    height: 22px
    margin-bottom: 0
  .email-link
    clear: both

#logout
  padding-left: 40px
  text-decoration: none
  display: inline-block
  width: 100%
  text-align: left
  padding-top: 5px
  padding-right: 20px
  margin-bottom: 40px

section.index
  width: 400px
  height: 427px

.gallery
  .thumbnail
    margin: 12px
    border: 1px dashed #c6b2a8
    &:hover
      cursor: pointer
  em
    text-align: center

.fullsize
  display: none
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: rgba(255, 255, 255, 0.8)
  z-index: 100
  img
    display: block
    margin: 200px auto 0 auto
    border: 1px solid #c6b2a8

#twitter
  text-align: center
  margin: 0 auto 16px auto
  padding-top: 46px
  p
    display: inline
    margin: 0 auto
    font-size: 14px
    color: #9D938E
    background: transparent url(asset_path("twitter_logo.png", image)) no-repeat 1px 1px
    padding-left: 30px

// Tabs!!!

.tab
  +float(left)
  +pie-clearfix
  margin-bottom: 40px
  padding-right: 20px
  font-size: 16px
  color: #c4afa4
  &:hover
    cursor: pointer
    color: #9D938E
  &.active
    text-decoration: underline
.part
  clear: both
  display: none
  margin-bottom: 0
  &.active
    display: block
h3
  margin-top: 30px


#time
  text-align: center
  margin-bottom: 40px
