!!!
%html
  %head
    %title Dionandmay
    = stylesheet_link_tag    "application"
    = csrf_meta_tags
    %link{href: 'http://fonts.googleapis.com/css?family=Crimson+Text', rel: 'stylesheet', type:'text/css'}
    %link{href: 'http://fonts.googleapis.com/css?family=Lustria', rel: 'stylesheet', type:'text/css'}
  %body
    %p.notice
      =notice
    %p.alert
      =alert
    = yield
    = javascript_include_tag "application"
